<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Empleado</title>

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div class="container"> 
        <h1 class="title">Crear Empleado</h1> 
        
        <form action="/employee/save" method="post">
            <div class="rows"> 
                <label for="idEmployee">ID:</label> 
                <input class="boxes" type="text" id="idEmployee" name="idEmployee" required> 
            </div>
            
            <div class="rows">
                <label for="firstName">Nombre:</label> 
                <input class="boxes" type="text" id="firstName" name="firstName" required> 
            </div>
            
            <div class="rows"> 
                <label for="lastName">Apellido:</label> 
                <input class="boxes" type="text" id="lastName" name="lastName" required> 
            </div>
            
            <div class="rows"> 
                <label for="role">Rol:</label> 
                <input class="boxes" type="text" id="role" name="role" required> 
            </div>
            
            <div class="rows"> 
                <label for="salary">Salario:</label> 
                <input class="boxes" type="number" step="0.01" id="salary" name="salary" required> 
            </div>
            
            <button class="links" type="submit">Crear</button> 
        </form>
        
    </div>
    <a class="links" href="/employee/toList">Volver a la lista de empleados</a>
</body>
</html>
