<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Empleados</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
    <h1>Lista de Empleados</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Rol</th>
                <th>Salario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Recorre la lista de empleados y genera una fila para cada uno -->
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.employeeId}"></td>
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.role}"></td>
                <td th:text="${employee.salary}"></td>
                <td>
                    <!-- Enlace para eliminar un empleado -->
                    <a th:href="@{/employee/delete/{id}(id=${employee.employeeId})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/employee/create">Crear Empleado</a> <!-- Enlace para crear un nuevo empleado -->
</body>
</html>
